<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>DataModel 4</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>DataModel</key>
		<dict>
			<key>CLSAccount</key>
			<data>
			5yfh73TIf0fyuqUdTfFNOrGQAYf9YJL6VtA5yhpza7U=
			</data>
			<key>CLSApplication</key>
			<data>
			fKXmeuJ3xg6wjmulLewHw+M1Zh2qf/4DQpochatE0Fc=
			</data>
			<key>CLSDSymUUID</key>
			<data>
			gRwFfMSWnIsXPYRC1wUA1yTYott4d1iXS21zDfg06dk=
			</data>
			<key>CLSEnqueuedDSym</key>
			<data>
			TlcN4IMKiD5pGHPNns0ryIVjxfY8rCAOFxeiHdHQlP0=
			</data>
			<key>CLSEvent</key>
			<data>
			2YGOXwORBDrEEHv0xt2aKnZFIMBlkZpzxWgri/G/5vg=
			</data>
			<key>CLSOrganization</key>
			<data>
			irbKYDd17x/NuOR3PeUxp7xbk3yMndCL1AdRUDFC6LE=
			</data>
		</dict>
		<key>DataModel 2</key>
		<dict>
			<key>CLSAccount</key>
			<data>
			5yfh73TIf0fyuqUdTfFNOrGQAYf9YJL6VtA5yhpza7U=
			</data>
			<key>CLSApplication</key>
			<data>
			AUrFiOBMFM01eFKVNSSVJ14afCFlLQZ/G8EZC2EiiaM=
			</data>
			<key>CLSDSymUUID</key>
			<data>
			gRwFfMSWnIsXPYRC1wUA1yTYott4d1iXS21zDfg06dk=
			</data>
			<key>CLSEnqueuedDSym</key>
			<data>
			TlcN4IMKiD5pGHPNns0ryIVjxfY8rCAOFxeiHdHQlP0=
			</data>
			<key>CLSEvent</key>
			<data>
			2YGOXwORBDrEEHv0xt2aKnZFIMBlkZpzxWgri/G/5vg=
			</data>
			<key>CLSOrganization</key>
			<data>
			irbKYDd17x/NuOR3PeUxp7xbk3yMndCL1AdRUDFC6LE=
			</data>
			<key>CLSSetting</key>
			<data>
			T+7szQZ+R3CIcTrBPel+q0zcq3buFP8g6bAI08RiBos=
			</data>
		</dict>
		<key>DataModel 3</key>
		<dict>
			<key>CLSAccount</key>
			<data>
			5yfh73TIf0fyuqUdTfFNOrGQAYf9YJL6VtA5yhpza7U=
			</data>
			<key>CLSApplication</key>
			<data>
			AUrFiOBMFM01eFKVNSSVJ14afCFlLQZ/G8EZC2EiiaM=
			</data>
			<key>CLSDSymUUID</key>
			<data>
			gRwFfMSWnIsXPYRC1wUA1yTYott4d1iXS21zDfg06dk=
			</data>
			<key>CLSEnqueuedDSym</key>
			<data>
			jhUdL1NUNiMdwu04ZiuoqOjju2W/7db2SiPgHLubJ8s=
			</data>
			<key>CLSEvent</key>
			<data>
			q/9NvlBvd5/tIYPR9MtB3e49cbA9LiFadRdU8fMq6gU=
			</data>
			<key>CLSOrganization</key>
			<data>
			irbKYDd17x/NuOR3PeUxp7xbk3yMndCL1AdRUDFC6LE=
			</data>
			<key>CLSSetting</key>
			<data>
			T+7szQZ+R3CIcTrBPel+q0zcq3buFP8g6bAI08RiBos=
			</data>
		</dict>
		<key>DataModel 4</key>
		<dict>
			<key>CLSAccount</key>
			<data>
			5yfh73TIf0fyuqUdTfFNOrGQAYf9YJL6VtA5yhpza7U=
			</data>
			<key>CLSApplication</key>
			<data>
			/0smxVbZfL+Wgi5asu8VNyqlhtYmO6pdluU5J7/ZoSI=
			</data>
			<key>CLSDSymUUID</key>
			<data>
			gRwFfMSWnIsXPYRC1wUA1yTYott4d1iXS21zDfg06dk=
			</data>
			<key>CLSEnqueuedDSym</key>
			<data>
			jhUdL1NUNiMdwu04ZiuoqOjju2W/7db2SiPgHLubJ8s=
			</data>
			<key>CLSEvent</key>
			<data>
			q/9NvlBvd5/tIYPR9MtB3e49cbA9LiFadRdU8fMq6gU=
			</data>
			<key>CLSOrganization</key>
			<data>
			irbKYDd17x/NuOR3PeUxp7xbk3yMndCL1AdRUDFC6LE=
			</data>
			<key>CLSSetting</key>
			<data>
			T+7szQZ+R3CIcTrBPel+q0zcq3buFP8g6bAI08RiBos=
			</data>
		</dict>
	</dict>
</dict>
</plist>
